
<footer class="footer" style="margin-top: 600px;">
  <div class="content has-text-centered">
    <p>
      <strong>MyApp</strong> by <a href="https://lulu.com">lulu</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">lulu</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>