<div style="background-color: hsl(0,0%,98%); width: 1900px; height: 300px;margin-top:300px;"class="section">
  <div class="columns is-multiline">
    <div class="column is-3-desktop is-5-tablet px-6 py-20 has-background-white">
      <div class="has-mw-xs mx-auto">
        <a class="mb-12 is-inline-block" href="#">
          <img  style=""class="image" src="yofte-assets/logos/yofte-logo.svg" alt="">
        </a>
        <div class="mb-12 has-text-weight-semibold">
          <p>Our Store</p>
          <p>N&oslash;rremark 51, 8700 Horsens</p>
          <p>lulu</p>
        </div>
        <div class="mb-16 mb-40-tablet is-flex">
          <a class="mr-2 is-inline-block" href="#">
            <img class="image" src="yofte-assets/buttons/facebook-circle.svg" alt="">
          </a>
          <a class="mr-2 is-inline-block" href="#">
            <img class="image" src="yofte-assets/buttons/instagram-circle.svg" alt="">
          </a>
          
        </div>
        
          
          
        </div>
      </div>
    </div>
    <div class="column is-9-desktop is-7-tablet px-6 py-20 pl-40-desktop" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
      <ul class="mb-16 columns is-mobile is-multiline">
        <li class="column is-narrow mb-3"><a class="button py-0 px-5 is-white has-text-centered is-rounded" style="height: 40px;" href="#">Category</a></li>
        <li class="column is-narrow mb-3"><a class="button py-0 px-5 is-white has-text-centered is-rounded" style="height: 40px;" href="#">Collection</a></li>
        <li class="column is-narrow mb-3"><a class="button py-0 px-5 is-white has-text-centered is-rounded" style="height: 40px;" href="#">Story</a></li>
        <li class="column is-narrow mb-3"><a class="button py-0 px-5 is-white has-text-centered is-rounded" style="height: 40px;" href="#">Brand</a></li>
        <li class="column is-narrow mb-3"><a class="button py-0 px-5 is-white has-text-centered is-rounded" style="height: 40px;" href="#">Partners</a></li>
        <li class="column is-narrow mb-3"><a class="button py-0 px-5 is-white has-text-centered is-rounded" style="height: 40px;" href="#">Videos</a></li>
      </ul>
     
        </div>
      </div>
    </div>
  </div>
</section>            
    
</div>
</body>
</html>