<form  action="/food/search" method="POST">
    <label class="form-label" for="search">Search for a food:</label><br>
    <input class="form-control" type="text" id="search" name="search"><br>
    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
  </form>