<form  action="/food/search" method="POST" style="background-color:#48c78e; text-align: center;">
    <label class="form-label" for="search">Search food</label><br>
    <input class="form-control" styletype="text" id="search" name="search" value="text" ><br>
    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
  </form>