<%- include('partials/header.ejs', { user }) %> 
<%- include('partials/form.ejs') %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <style>
   
  </style>
  <body>
  <section class="section">
   
<button class="btn btn-primary" type="save" value="Save" style="font-size: 25px; margin-left: 2000px;">Save Food</button>

       
        
        
  </section>
  </body>
</html>

<%- include('partials/footer.ejs') %>