<%- include('partials/header.ejs', { user }) %> 
<%- include('partials/form.ejs') %>


<form style="margin-left: 200px; border-radius: 5px;" action="/food/search" method="POST" style="background-color:#48c78e; text-align: center;height: 100px;"> 
  

<input  style=" width: 700px; margin-top: 250px; margin-left:400px; height: 50px;"
class="input is-rounded" placeholder="search food" id="search" name="search">
<button  style="margin-top: 330px;margin-left: -400px;background-color: #00d1b2;"class="button is-success is-rounded">Create</button>

  

<%- include('partials/footer.ejs') %>
