<%- include('../partials/header.ejs', { user }) %> 


<div class="container my-5 text-center m-5">
    <div class="col">
      <h2> Your Favorite foods</h2>
    </div>
  
  
  
    
          
            
  

<%- include('../partials/footer.ejs') %>