<ul>
    <% comments.forEach((comment, index) => { %>
       <li>
        <%= food.foodCategory %> is a <%= food.description %>
        <!-- delete form to remove comment from db -->
        <form method="POST" action="/comment/<%= index %>/?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
        <!-- link to a page that will show an edit form for this dino -->
        <a href="/comment/<%= index %>/edit">edit</a>
      </li>
    <% }) %>
  </ul>