<!-- displays a form that allows the user to add a new food to their favorites -->
<div>
    <% comments.forEach(comment => { %>
      <p><%= comment.name %> has this to say: </p>
      <p><%= comment.content %></p>
    <% }) %>
  </div>
  
  <hr />
  
  <a href="/">&larr; Back Home</a>