<%- include('../partials/header.ejs', { user }) %>
<%- include('../partials/form.ejs') %>


<button class="btn btn-primary" type="save" value="Save">Save Food</button>

<%- include('../partials/footer.ejs') %>