<%-include('partials/header.ejs') %> 
<h3>Sign up for an account</h3>
<form action="/users" method="POST">
    <lebel for="email">Email:</lebel>
    <input type="email" name="email" id="email">

    <label for="password">Password:</label>
    <label type="password" namea="password" id="password"></label>

    <button type="submit">Sign Up</button>




</form>







<%-include('partials/footer.ejs') %> 