<%- include('../partials/header', { user }) %>




<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello User!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <section class="section">
            
            <h3 style="margin-left: 200px; margin-bottom: 10px;">Your Profile</h3>
        
        <figure class="image is-128x128">
            <img src="https://thisartworkdoesnotexist.com/" style="margin-left: 200px; border-radius: 50%;"  >
        </figure>
        
        
        <h3 style=" margin-left: 100px;"class="text-center mt-4">Hello, <%= user.email %> thanks for logging into the app</h3>
        <h4 style="width: 1000px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae iusto, nisi totam reiciendis, quo veniam magni, nemo fugit enim quaerat numquam provident corrupti! Quod voluptatem cumque est beatae quos Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, iure. Ipsum, voluptatum minus praesentium laboriosam culpa placeat blanditiis enim explicabo incidunt. Odit fuga nulla voluptatem illo quis eaque quasi tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis culpa error ab dolore perferendis vel reiciendis suscipit est assumenda ducimus voluptatum quibusdam iste dolorem, dolor quae, aspernatur ullam quos cum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore vero nobis reiciendis nesciunt quis nisi error porro, quae odio debitis earum nulla enim, iste ea aliquam a id labore quaerat?</h4>


      
        
  </section>
  </body>
</html>


<%- include('../partials/footer') %>